{% extends 'common/section.twig' %}

{% block content %}
    <div class="cryptogram">
        <div class="wrapper">
            <div class="cryptogramContentBlock">
                <div class="blockMsg">
                    <h2 class="blockMsg-headline">{{ cryptogram.headline|shortcodes }}</h2>
                </div>
                <div class="comparisonBlock comparisonBlock--white cryptogramList">
                    {% for cryptogram in cryptogram.collection %}
                        <div class="comparisonItem cryptogramItem {{ loop.index == 2 ? 'comparisonItem--highlight cryptogramItem--highlight' }}">
                            <div class="cryptogramItem-image">
                                <img src="{{ cryptogram.image.src }}"
                                     srcset="{{ cryptogram.image.src | retina(2) }} 2x"
                                     alt="{{ cryptogram.image.alt }}"
                                        {#width="{{ cryptogram.width }}"#}
                                        {#height="{{ cryptogram.height }}"#}
                                >
                            </div>
                            <ul class="cryptogramItem-features">
                                {% for item in cryptogram.items %}
                                    <li class="cryptogramItem-feature">
                                        {% if cryptogram.skin == "highlighted" %}
                                            {% include 'common/icons/check_white.twig' only %}
                                        {% else %}
                                            {% include 'common/icons/check_grey.twig' only %}
                                        {% endif %}
                                        <span>{{ item|shortcodes }}</span>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
