{% extends 'common/section.twig' %}

{% block content %}
    <div class="contactUs">
        <div class="wrapper">
            <div class="contactUsContentBlock">
                <div class="blockMsg">
                    {#<h1 class="blockMsg-headline">{{ contact_us.headline|shortcodes }}</h1>#}
                    <p class="blockMsg-text">{{ contact_us.text|shortcodes }}</p>
                </div>
                <div class="contactUsBlock">
                    <div class="form contactUsForm">
                        <h3 class="contactUsForm-headline">
                            <span>{{ contact_us.form.title|shortcodes }}</span>
                            {% include 'common/icons/'~ contact_us.form.icon|default('none') ~'.twig' only %}
                        </h3>
                        {{ contact_us.form.code|shortcodes }}
                    </div>
                    <div class="contactUsInfo">
                        <h3 class="contactUsInfo-headline">{{ contact_us.contacts.headline|shortcodes }}</h3>
                        <div class="contactUsInfo-fields">
                            {% for field in contact_us.contacts.fields %}
                                <div class="contactUsInfo-field contactUsInfo-field{{ field.type|capitalize }}">
                                    <div class="contactUsInfo-fieldImage">
                                        {% include 'common/icons/'~ field.icon|default('none') ~'.twig' only %}
                                    </div>
                                    <div class="contactUsInfo-fieldText">
                                        {{ field.text|shortcodes }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <ul class="contactUsInfo-socials">
                            {% for social in contact_us.contacts.socials %}
                                <li>
                                    <a href="{{ social.link_url|shortcodes }}">
                                        {% include 'common/icons/'~ social.link_icon|default('none') ~'.twig' only %}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
