{% extends 'common/section.twig' %}

{% block content %}
    <div class="partnership">
        <div class="wrapper">
            <div class="partnershipContentBlock">
                <div class="blockMsg">
                    <h2 class="blockMsg-headline">{{ partnership.headline|shortcodes }}</h2>
                    <p class="blockMsg-text">{{ partnership.text|shortcodes }}</p>
                </div>
                <ul class="partnershipContacts">
                    {% for partner in partnership.collection %}
                        <li class="partnershipContact">
                            <div class="partnershipContact-name">{{ partner.name|shortcodes }}</div>
                            <div class="partnershipContact-position">{{ partner.position|shortcodes }}</div>
                            <ul class="partnershipContact-contacts">
                                {% if partner.is_show_linkedin %}
                                    <li>
                                        <a href="{{ partner.linkedin|shortcodes }}">
                                            {% include 'common/icons/linkedin_red.twig' only %}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if partner.is_show_twitter %}
                                    <li>
                                        <a href="{{ partner.twitter|shortcodes }}">
                                            {% include 'common/icons/twitter_red.twig' only %}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if partner.is_show_email %}
                                    <li class="partnershipContact-email">
                                        <a href="mailto:{{ partner.email }}">
                                            {{ partner.email|shortcodes }}
                                        </a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
