<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {% include 'base/html_header/favicons.twig' with {'site': site, 'visible': not models.common.has_site_icon} only %}

    {% block wp_head %}
        {{ function('wp_head') }}
    {% endblock %}
</head>
<body {{ body_class }}>
{% block after_body %}
    {{ models.components.google_tag_manager }}
{% endblock %}

{% block body_content %}
    {% block header %}
        {% include 'base/header_section.twig' with {'header': models.header_section, 'visible': models.header_section.is_show} only %}
    {% endblock %}

    {% block dark_header %}
        {% include 'base/dark_header_section.twig' with {'header': models.header_section, 'visible': models.header_section.is_show} only %}
    {% endblock %}

    {% block content %}{% endblock %}

    {% block footer %}
        {% include 'base/footer_section.twig' with {'footer': models.footer_section, 'visible': models.footer_section.is_show} only %}

        <div class="scrollToTop" data-vs-sticky-scrollToTop>
            <div class="scrollToTop-btn button-raisedRed">
                {% include 'common/icons/arrow_top_white.twig' only %}
            </div>
        </div>
        <div class="overlay" data-vs-sideNav-overlay></div>
    {% endblock %}
{% endblock %}
{% block wp_footer %}
    {{ function('wp_footer') }}
{% endblock %}
</body>
</html>
