{% extends 'common/section.twig' %}

{% block content %}
    <footer class="footer">
        <div class="footer-top">
            <div class="wrapper">
                <div class="footerContacts">
                    <div class="footerContacts-logo">
                        <img src="{{ footer.logo.src }}" alt="{{ footer.logo.alt|shortcodes }}">
                    </div>
                    <div class="footerContacts-hashtag">{{ footer.description|shortcodes }}</div>
                    <ul class="footerContacts-socials">
                        {% for item in footer.social_links %}
                            <li>
                                <a href="{{ item.link_url }}">
                                    <i class="fa {{ item.link_icon }}" aria-hidden="false"></i>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {{ footer.navigation|shortcodes }}
            </div>
        </div>
        <div class="footer-bottom">
            <div class="wrapper">
                <div class="footer-copyright">{{ footer.copyright|shortcodes }}</div>
                <div class="footer-links">
                    <a href="mailto:{{ footer.email }}" class="footer-email">{{ footer.email|shortcodes }}</a>
                    <a href="{{ footer.terms_of_use.href }}"
                       class="footer-policy">{{ footer.terms_of_use.text|shortcodes }}</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
