{% extends "base.twig" %}

{% block body_content %}
    <div class="page notFoundPage">
        {% block dark_header %}
            {{ parent() }}
        {% endblock %}

        {% block content %}
            <div class="container">
                <div class="intro">
                    <div class="wrapper">
                        <div class="introContentBlock">
                            <h1 class="intro-caption">{{ models.caption }}</h1>
                            <div class="blockMsg">
                                <h2 class="blockMsg-headline">{{ models.headline }}</h2>
                                <p class="blockMsg-text">{{ models.text }}</p>
                                <div class="blockMsg-links">
                                    {% for link in models.links %}
                                        <a href="{{ link.link }}" class="{{ link.class }}">{{ link.title }}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}

        {% block footer %}
            {{ parent() }}
        {% endblock %}
    </div>
{% endblock %}
