<div class="iotUseCases">
    <div class="wrapper">
        <div class="blockMsg">
            <h2 class="blockMsg-headline">Secure The Future With <span class="companyName">Virgil Security</span></h2>
            <p class="blockMsg-text">Virgil Security provides a single open source solution that secures your devices and customers. From sensors to IoT devices to the mobile devices they connect with to the cloud for data analytics.</p>
        </div>
        <div class="iotUseCases-grid">
            <div class="iotUseCase">
                <div class="iotUseCase-content encrypted-communication">
                    <h3 class="iotUseCase-title">Encrypted Communication</h3>
                    <p class="iotUseCase-text">
                        End-to-End Encrypted data security for your messaging and permanent storage.
                    </p>
                    <div class="iotUseCase-actions">
                        <a href="https://developer.virgilsecurity.com/docs/javascript/get-started/encrypted-communication"
                           class="learnMoreLink"
                        >
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="iotUseCase">
                <div class="iotUseCase-content data-integrity">
                    <h3 class="iotUseCase-title">Data Integrity</h3>
                    <p class="iotUseCase-text">
                        Verify that your sensor data hasn’t been tampered with.
                    </p>
                    <div class="iotUseCase-actions">
                        <a href="https://developer.virgilsecurity.com/docs/javascript/get-started/data-integrity"
                           class="learnMoreLink"
                        >
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="iotUseCase iotUseCase-image">
                <img alt="Smart Home Assistant"
                     src="{{ theme.path }}/assets/images/content/speaker.png"
                     srcset="{{ theme.path }}/assets/images/content/speaker@2x.png 2x"
                />
            </div>
            <div class="iotUseCase iotUseCase-image">
                <img alt="Light Bulb"
                     src="{{ theme.path }}/assets/images/content/light-bulb.png"
                     srcset="{{ theme.path }}/assets/images/content/light-bulb@2x.png 2x"
                />
            </div>
            <div class="iotUseCase">
                <div class="iotUseCase-content encrypted-storage">
                    <h3 class="iotUseCase-title">Encrypted Storage</h3>
                    <p class="iotUseCase-text">
                        Protect the privacy of your users' data: works with all cloud storage services.
                    </p>
                    <div class="iotUseCase-actions">
                        <a href="https://developer.virgilsecurity.com/docs/javascript/get-started/encrypted-storage"
                           class="learnMoreLink"
                        >
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="iotUseCase">
                <div class="iotUseCase-content passwordless-auth">
                    <h3 class="iotUseCase-title">Passwordless Authentication</h3>
                    <p class="iotUseCase-text">
                        Make user authentication simple and secure.
                    </p>
                    <div class="iotUseCase-actions">
                        <a href="https://developer.virgilsecurity.com/docs/ruby/get-started/passwordless-authentication"
                           class="learnMoreLink"
                        >
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="iotUseCase">
                <div class="iotUseCase-content pfs">
                    <h3 class="iotUseCase-title">Perfect Forward Secrecy</h3>
                    <p class="iotUseCase-text">
                        Protect data even if keys have been compromised.
                    </p>
                    <div class="iotUseCase-actions">
                        <a href="https://developer.virgilsecurity.com/docs/java/get-started/perfect-forward-secrecy"
                           class="learnMoreLink"
                        >
                            Learn More
                        </a>
                    </div>
                </div>
            </div>
            <div class="iotUseCase iotUseCase-image">
                <img alt="Smart Camera"
                     src="{{ theme.path }}/assets/images/content/camera.png"
                     srcset="{{ theme.path }}/assets/images/content/camera@2x.png 2x"
                />
            </div>
            <div class="iotUseCase iotUseCase-image">
                <img alt="Smart Sensor"
                     src="{{ theme.path }}/assets/images/content/sensor.png"
                     srcset="{{ theme.path }}/assets/images/content/sensor@2x.png 2x"
                />
            </div>
        </div>
    </div>
</div>
