{% extends 'common/section.twig' %}

{% block content %}
    <div class="articles">
        <div class="wrapper">
            <div class="articlesContentBlock">
                {% if articles.posts %}
                    <div class="articleList" data-article-list="">
                        {% for article in articles.posts %}
                            <a href="{{ article.link|shortcodes }}" class="articleItem">
                                <div class="articleItem-image">
                                    <img width="700" height="265"
                                         src="{{ article.thumbnail.src|default(bloginfo('stylesheet_directory')~'/assets/stubs/articles_thumbnail_stub.jpg')|resize(700, 265) }}"
                                         srcset="{{ article.thumbnail.src|default(bloginfo('stylesheet_directory')~'/assets/stubs/articles_thumbnail_stub.jpg')|resize(700, 265)|retina(2) }} 2x"
                                         alt="Image for {{ article.title }}">
                                </div>
                                <div class="articleItem-content">
                                    <h2 class="articleItem-headline">{{ article.title|shortcodes }}</h2>
                                    <p class="articleItem-text">{{ article.content|excerpt(30)|shortcodes }}</p>
                                    <div class="articleItem-info">
                                        <div class="articleItem-data">
                                            <span>{{ article.author.display_name|shortcodes }}</span> —
                                            <span>{{ article.post_date|shortcodes|date("F jS, Y") }}</span>
                                        </div>
                                        <div class="articleItem-time">
                                            <span>{{ article.post_date|time_ago|trim('ago') }}</span><i
                                                    class="icon icon-clock-grey" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="blockMsg">
                        We don't have publications yet.
                    </div>
                {% endif %}
                <div class="articlesSidebar">
                    {% if articles.top_posts or articles.tags %}
                        <div class="referenceBlock">
                            {% if articles.top_posts %}
                                <div class="referenceList">
                                    <h3 class="referenceList-headline">Recent posts</h3>
                                    <ul class="referenceList-list">
                                        {% for top_post in articles.top_posts %}
                                            <li><a href="{{ top_post.link }}">{{ top_post.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}

                            {% if articles.tags %}
                                <div class="referenceList">
                                    <h3 class="referenceList-headline">Posts by tags</h3>
                                    <ul class="referenceList-list">
                                        {% for tag in articles.tags %}
                                            <li><a href="{{ tag.link }}">{{ tag.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                    {% endif %}
                    <div class="articlesSidebar-actions">
                        <a href="https://developer.virgilsecurity.com/account/signup" class="button-flatRed">
                            <span>Start to encrypt</span>
                            <i class="icon icon-arrowRight-red"></i>
                        </a>
                    </div>
                </div>
                {% if articles.pagination.current <  articles.pagination.total %}
                    <div class="articlesActions">
                        <button data-load-more=""
                                data-load-more-url="{{ articles.load_more.pattern }}"
                                data-load-more-current-page="{{ articles.pagination.current }}"
                                data-load-more-pages-count="{{ articles.pagination.total }}"

                                class="button-raisedRed">Load more
                        </button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
