{% extends 'common/section.twig' %}

{% block content %}
    <div class="intro">
        {% block intro_section_content %}
            <div class="wrapper">
                <div class="introContentBlock">
                    <div class="blockMsg">
                        <h1 class="blockMsg-headline">{{ intro.headline.text }}</h1>
                        <div class="blockMsg-links">
                            {% for link in intro.links %}
                                {% include 'common/link_button/' ~ link.link_button_skin ~ '.twig' with {'link': link} %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="introServices">
                        <h2 class="introServices-headline">{{ intro.services.headline }}</h2>
                        <ul class="introServiceList">
                            {% for service in intro.services.collection %}
                                <li class="introServiceItem tooltip">
                                    <a href="{{ service.url }}" class="introServiceItem-link">
                                        <img width="{{ service.width }}" height="{{ service.height }}"
                                             src="{{ service.image.src }}"
                                             alt="{{ service.image.alt|shortcodes }}">
                                    </a>
                                    <div class="tooltipContent">
                                        <h3 class="tooltipContent-headline">{{ service.tooltip_headline }}</h3>
                                        <p class="tooltipContent-text">{{ service.tooltip_text }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
